.scrambleText {
  position: relative;
  display: inline-block;
  white-space: pre-wrap; /* Permite saltos de línea si es necesario */
}

.scrambleText > span {
  visibility: hidden;
  white-space: pre-wrap; /* Asegura que el texto se mantenga dentro de su contenedor */
}

.scrambleText--overlay {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
  pointer-events: none;
  color: inherit;
  width: 100%; /* Ocupa todo el ancho del contenedor base */
}
